{% load chess_tags %}
<div class="game-row game-row-interactive"
     data-game-id="{{ game.id }}"
     data-player-pair="{{ game.player_pair }}"
     style="cursor: pointer;">
    <div class="d-flex justify-content-between align-items-center">
        <!-- display time and add timezone-->
        <div class="game-time">{{ game.endtime|time:"H:i"|default:"--" }}</div>
        <div class="flex-grow-1 text-capitalize">
            {% if game.white %}
                {{game.white.title|default:""}}
                {{ game.white.name|default:game.white_username|default:"N/A" }}
            {% else %}
                {{ game.white_username|default:"N/A" }}
            {% endif %}
            &nbsp;&nbsp;-&nbsp;&nbsp;
            {% if game.black %}
                {{game.black.title|default:""}}
                {{ game.black.name|default:game.black_username|default:"N/A" }}
            {% else %}
                {{ game.black_username|default:"N/A" }}
            {% endif %}
        </div>
        <div class="game-result">{{ game.result|format_game_result|default:"N/A" }}</div>
    </div>
</div>