{% load chess_tags %}
<div class="tournament-container" data-total-games="{{ tournament.games|length }}">
    <div class="event-header" onclick="toggleTournament(this)">
        <span class="tournament-name">{{ tournament.name|truncatechars:60 }}</span>
        <span>
            <span class="game-count">({{ tournament.games|length }})</span>
            <span class="toggle-icon ms-1"><i class="bi bi-chevron-up"></i></span>
        </span>
    </div>
        {% regroup tournament.games by player_pair as player_groups %}
        <div class="games-container">
        <!-- First display all player groups with multiple games -->
        {% for group in player_groups %}
            {% if group.list|length > 1 %}
                <!-- Player group with multiple games -->
                <div class="player-group-container" data-total-games="{{ group.list|length }}">
                    <div class="player-group-header" onclick="togglePlayerGroup(this)">
                        <span class="player-group-name">
                            {% with first_game=group.list.0 scores=group.list|calculate_match_score %}
                                {% if first_game.white %}
                                    {{first_game.white.title|default:""}}
                                    {{ first_game.white.name|default:first_game.white_username|default:"N/A" }}
                                {% else %}
                                    {{ first_game.white_username|default:"N/A" }}
                                {% endif %}
                                <span class="match-score">{{ scores.player1 }}</span>
                                <span class="player-group-versus">&nbsp;vs&nbsp;</span>
                                {% if first_game.black %}
                                    {{first_game.black.title|default:""}}
                                    {{ first_game.black.name|default:first_game.black_username|default:"N/A" }}
                                {% else %}
                                    {{ first_game.black_username|default:"N/A" }}
                                {% endif %}
                                <span class="match-score">{{ scores.player2 }}</span>
                            {% endwith %}
                            <!-- <span class="match-score"> Score: {{ group.list|calculate_match_score }}</span> -->
                        </span>
                        <span>
                            <span class="game-count">({{ group.list|length }})</span>
                            <span class="toggle-icon ms-1"><i class="bi bi-chevron-down"></i></span>
                        </span>
                    </div>
                    <div class="player-games-container" style="display: none;">
                        {% for game_obj in group.list %}
                            {% include "game_row.html" with game=game_obj %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        
        <!-- Then display all individual games -->
        {% for group in player_groups %}
            {% if group.list|length == 1 %}
                <!-- Single game, no grouping needed -->
                {% include "game_row.html" with game=group.list.0 %}
            {% endif %}
        {% endfor %}
    </div>
</div>
